/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
  /* font-family: "Times New Roman", Times, serif; */
}

body {
  background-color: black;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 80px;
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
}

form {
  margin-top: 100px;
  background-color: black;
  color: rgb(146, 50, 243);
}

label {
  font-size: 20px;
}

.formLabel {
  text-decoration: underline;
  font-weight: bold;
}

textarea {
  background-color: rgb(146, 50, 243);
  color: black;
  border: black;
  width: 450px;
  height: 175px;
  font-size: 15px;
  font-weight: bold; 
  margin: 10px;
  padding: 5px;
}

input {
  margin: 5px;
  background-color: rgb(146, 50, 243);
  color: black;
  border: black;
  width: 250px;
  height: 25px;
  font-size: 15px;
  font-weight: bold; 
}

.navLink {
  color: rgb(146, 50, 243);
  text-decoration: none;
  font-size: 2em;
  border: 2px solid rgb(146, 50, 243);
  padding: 3px;
  border-radius: 10px;
}

.navLink:hover {
  color: black;
  background-color: rgb(146, 50, 243);
}

.fullCardLink {
  text-decoration: none;
}

.formContainer {
  background-color: black;
  padding-bottom: 20px;
  border: 4px solid rgb(146, 50, 243);
  width: 500px;
  border-radius: 10px;
  outline: 4px solid rgb(146, 50, 243);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 55px;
}

.cardLink {
  background-color: black;
  color: rgb(146, 50, 243);
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  border: 1px solid rgb(69, 9, 129);
  padding: 5px;
  border-radius: 5px;
}

/* .purpleHeader {
  background-color: black;
  color: rgb(146, 50, 243
} */

.card_btn {
  background-color: black;
  border: 1px solid rgb(69, 9, 129);
  color: rgb(146, 50, 243);
  padding: 2px;
  border-radius: 5px;
}

.add_btn {
  background-color: black;
  border: 3px solid rgb(69, 9, 129);
  color: rgb(146, 50, 243);
  border-radius: 15px;
  height: 70px;
  width: 200px;
  font-size: 20px;

}

.formDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
}

.form_btn {
  margin-top: 20px;
}

.add_btn:hover{
  background-color: rgb(146, 50, 243);
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

input {
  margin-bottom: 20px;
  margin-top: 10px;
}

.studentContainer {
  border: 1px solid black;
}

main {
  background-color: rgb(146, 50, 243);
  margin-top: 40px;
}

.cardImg {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  border: 2px solid rgb(146, 50, 243);
}

.cardContainer {
  border: 3px solid black;
  border-radius: 15px;
  align-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
  height: 250px;
  width: 275px;
  margin-bottom: 10px;
  padding: 5px;
}

.campusCard {
  border: 1px solid purple;
}

.bigText {
  font-size: 25px;
}

.campusContainer {
  border: 3px solid black;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  padding: 40px;
  background-color: black;
  color: rgb(146, 50, 243);
  border-radius: 10px;
  flex: 2;
}

h2 {
  color: rgb(146, 50, 243);
  background-color: black;
  padding: 5px;
  border-radius: 5px;
}

.anchorContainer {
  background-color: rgb(146, 50, 243);
  margin: 50px;
  padding: 25px;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filterDiv {
  background-color: rgb(146, 50, 243);
  padding: 25px;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.topAnchor {
  padding: 10px;
  padding-top: 15px;
  text-align: center;
  text-justify: center;
  color: rgb(146, 50, 243);
  background-color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  width: 80px;
  height: 50px;
  border: 2px solid (69, 9, 129);
}

.topAnchor:hover {
  color: black;
  background-color: rgb(146, 50, 243);
  border: 2px solid black;
}

.filterContainer {
  border-radius: 10px;
  width: 600px;
  margin: 10px;
  padding: 10px;
  background-color: black;
  color: rgb(146, 50, 243);
}

.filterLine {
  border: 1px solid rgb(146, 50, 243);
  padding-bot: 5px;
  padding-top: 5px;
}

.numberInput {
  width: 55px;
  height: 25px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.blackBlock {
  color: rgb(146, 50, 243);
  background-color: black;
  padding: 10px;
  border-radius: 15px;
}

.campusContainer img {
  border: 2px solid rgb(146, 50, 243);
  border-radius: 10px;
  height: 500px;
  width: 500px;
}

.singleView {
  margin-left: 50px;
  padding: 10px;
  border: 2px solid black;
  height: 400px;
  background-color: rgb(146, 50, 243);
  color: black;
  border-radius: 10px;
  outline: 6px solid rgb(146, 50, 243);
}

.wrap {
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
}

.rowCentered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 3px solid black;
  margin: 10px;
  background-color: black;
  color: rgb(146, 50, 243);
  border-radius: 10px;
}

.listHeader {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
}

.warning {
  background-color: rgb(146, 50, 243);
  color: black;
  border: 1px solid rgb(146, 50, 243);
}

#landing{
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.studentList {
  width: 100%;
  justify-content: space-evenly;
  align-content: space-evenly;
}

.listHeader h1 {
  font-size: 70px;
  background-color: black;
  color: rgb(146, 50, 243);
  border-radius: 10px;
  padding: 10px;
}

.hidden {
  display: none;
}

.formError {
  border: 2px solid rgb(255, 0, 0);
}

#landingImg {
  height: 800px;
  width: 2500px;
}

#bigText {
  font-size: 120px;
}

.columnRight {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 15px;
}

.column {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.editRmv_btn {
  margin: 10px;
}

.filter_btn {
  background-color: black;
  border: 3px solid rgb(69, 9, 129);
  color: rgb(146, 50, 243);
  border-radius: 15px;
  padding: 0px;
  height: 35px;
  width: 100px;
  font-weight: bold;
  font-size: 10px;
}

.filter_btn:hover {
  background-color: rgb(146, 50, 243);
  border: 3px solid black;
  color: black;
}
.redirect {
  font-size: 40px;
  margin-top: 80px;
  padding: 20px;
  background-color: black;
  color: rgb(146, 50, 243);
  border: 2px solid rgb(146, 50, 243);
}

.singleStudent {
  background-color: rgb(146, 50, 243);
  color: black;
  font-size: 28px;
  border: 12px solid rgb(146, 50, 243);
  margin-left: 60px;
  border-radius: 15px;
  /* outline: 8px solid rgb(146, 50, 243); */
}