/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 80px;
  padding: 10px;
}

.navLink {
  color: white;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.smallImg {
  height: 25%;
  width: 40%;
}

.studentContainer {
  border: 3px solid black;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  height: 400px;
  width: 250px;
}

.campusContainer {
  border: 3px solid black;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 5px;
}

.studentList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  display: none;
}

.formError {
  border: 2px solid rgb(255, 0, 0);
}